results/
output/
ic/
*.dat 
*.pkl 
*.py 
*.html 
simulations/
.pyproject
__pycache__
.ipynb_checkpoints
.spyproject
.gitattributes
*.Rhistory
tuneK_iterations/
simulation_real/
simulation_real_20240723/
realdata/
realdata_2020/*.pkl 
realdata_2020/*.dat 
realdata_2020/*.csv 
realdata_2020/*.pptx
semisyn_2020/env/ 
semisyn_2020/offline/*.png 
semisyn_2020/offline/*.dat 
semisyn_2020/offline/*.pptx 
semisyn_2020/online/threshold/ 
semisyn_2020/online_value/*.png 
semisyn_2020/online_value/*.pkl 
semisyn_2020/online_value/*.dat
functions/test*
